@model WebApplication2.Emp
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <form action="/Home/UpdateRecord" method="post" class="form-group">
            Id:<input type="text" readonly name="Id" class="form-control" value="@Model.No" /><br />
            Name:<input type="text" name="Name" class="form-control" value="@Model.Name" /><br />
            Address:<input type="text" name="Address" class="form-control" value="@Model.Address" /><br />
            <input type="submit" value="Add Record" class="btn-outline-secondary" /><br />
        </form>
    </div>
</body>
</html>
