@model List<WebApplication2.Emp>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.PageName</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="table-responsive">
            <a href="/Home/Create" class="text-success">
                <b>Add New Record</b>
            </a>
            <hr />
            <table class="table table-bordered table-striped">
                <thead class="text-warning">
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody class="text-info">
                    @foreach (var emp in Model)
                    {
                        <tr>
                            <td>@emp.No</td>
                            <td>@emp.Name</td>
                            <td>@emp.Address</td>
                            <td style="color: mediumvioletred">
                                <a href="/Home/Edit/@emp.No">Edit</a>
                            </td>
                            <td style="color: orangered">
                                <a href="/Home/Delete/@emp.No">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>
